In [17]:
import numpy as np
from scipy.sparse import csr_matrix
import pandas as pd

In [18]:
arr = np.matrix([[0, 0, 0, 0, 0, 1, 1, 0, 2]]) # works with arrays too

sparse_matrix = csr_matrix(arr)

print(arr)
print(sparse_matrix)
print(sparse_matrix.data)
print(sparse_matrix.count_nonzero())

[[0 0 0 0 0 1 1 0 2]]
  (0, 5)	1
  (0, 6)	1
  (0, 8)	2
[1 1 2]
3

In [29]:
df = pd.DataFrame(
    {
        'sport': ['bowling', 'football', 'hockey'],
        'year': [2000, 2001, 2001],
        'goals': [10, 20, 30],
    }
)

test=df.pivot(index='sport', columns='year', values='goals').fillna(0) # damn, thats cool
display(df, test)

      sport  year  goals
0   bowling  2000     10
1  football  2001     20
2    hockey  2001     30

year      2000  2001
sport
bowling   10.0   0.0
football   0.0  20.0
hockey     0.0  30.0